/*navigation header*/
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

.nav {
  color: var(--dark);
}
.nav:hover,
.nav:focus {
  color: var(--pressed-state);
}
.nav:active {
  color: var(--pressed-state);
}
.address {
  color: var(--text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  list-style-type: none;
  letter-spacing: 0.02em;
}
.address:hover,
.address:focus {
  color: var(--pressed-state);
}

.address:active {
  color: var(--pressed-state);
}
/*section hero*/

.hero {
  background: var(--dark);
  color: var(--white-background);
}
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-button {
  background-color: var(--primary-brand);
  color: #ffffff;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.hero-button:active {
  background-color: var(var(--pressed-state));
  color: #ffffff;
}

.filtr-button {
  background-color: var(--accent);
  color: #4d5ae5;
  cursor: pointer;
}
.filtr-button:hover,
.filtr-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.filtr-button:active {
  background-color: var(--pressed-state);
  color: #ffffff;
}
.filtr-list {
  list-style-type: none;
}
.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
  background-color: var(--white-background);
}
.logo {
  color: var(--dark);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link {
  text-decoration: none;
}
.logoweb {
  color: var(--primary-brand);
}
.nav-but-text {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--dark);
}
/*About company*/
.company-descr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.company-list {
  list-style-type: none;
}
.company-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/*What we are doing*/
.tasks-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.tasks-img {
  list-style-type: none;
}
/*our team*/
.team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.team-list {
  list-style-type: none;
}
/*page 2 portfolio   examples*/
.examples-list {
  list-style-type: none;
}
.examples-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.examples-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
