/*navigation header*/
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
.nav {
  color: var(--dark);
}
.nav:hover,
.nav:focus {
  color: var(--pressed-state);
}
.nav:active {
  color: var(--pressed-state);
}

.address {
  color: var(--text);
}
.address:hover,
.address:focus {
  color: var(--pressed-state);
}

.address:active {
  color: var(--pressed-state);
}
/*section hero*/

.hero-button {
  background-color: var(--primary-brand);
  color: #ffffff;
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.hero-button:active {
  background-color: var(var(--pressed-state));
  color: #ffffff;
}

.filtr-button {
  background-color: var(--accent);
  color: #4d5ae5;
  cursor: pointer;
}
.filtr-button:hover,
.filtr-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.filtr-button:active {
  background-color: var(--pressed-state);
  color: #ffffff;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  color: var(--text);
}
.logo {
  color: var(--dark);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logoweb {
  color: var(--primary-brand);
}
